<div class="panel panel-horizontal">
  <div class="panel panel-vertical text-center">
    <table class="width-100">
      <tr>
        <td class="text-top text-middle width-30">
          <h2>Lines of Code</h2>
          <p style="font-size: 36px; font-weight: 300; margin-top: 10px;"><a>171,131</a></p>
          <div style="margin-top: 20px; padding: 15px 0; border-left: 4px solid #4b9fd5; background: #cae3f2;">
            <a class="link-no-underline" style="font-size: 20px; font-weight: 300;">+11,458</a>
          </div>
        </td>
        <td class="text-top text-middle" style="padding-left: 40px;">
          <svg width="100%" height="100%" viewBox="0 0 600 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g id="Layer1">
              <path d="M6.30357,68.0021C11.6985,59.4386 20.051,53.2101 27.6005,46.6052C33.6191,41.3395 39.2241,36.6067 46.308,32.7913C53.5455,28.8932 60.6586,24.4644 69.3316,25.5963C82.04,27.2549 89.6427,36.6803 99.5503,43.4397C113.167,52.7295 128.343,58.6873 145.021,57.5416C156.595,56.7466 163.536,48.5002 172.075,41.713C175.092,39.3146 178.517,37.4678 181.571,35.0926C184.706,32.6539 188.021,29.2007 191.933,27.8991C193.769,27.2882 197.684,28.2247 199.128,28.4737C202.817,29.1097 206.82,29.7244 210.351,31.0645C216.496,33.3972 221.817,37.8829 227.806,40.6479C233.625,43.3345 240.075,43.3641 246.326,43.7278C251.237,44.0135 256.062,45.0166 261.004,45.1665C268.762,45.4018 274.79,43.8894 280.574,38.2595C282.643,36.2451 284.969,33.9919 286.617,31.6391C287.474,30.4144 288.602,27.4758 290.358,27.6111C321.687,30.0239 351.181,41.419 381.878,46.8932C421.239,53.9124 460.78,57.7725 500.45,60.419C503.463,60.62 507.223,60.8778 510.234,60.419C513.133,59.9774 515.858,57.4946 518.293,56.1029C524.854,52.3542 530.743,48.0754 536.39,42.9967C541.622,38.2905 547.679,34.7751 552.828,29.9124C558.552,24.5067 563.395,18.2349 569.521,13.2211C573.283,10.1416 578.689,7.34316 580.745,4.2994C581.081,3.80195 583.783,4.65167 584.311,4.2994C586.635,2.74746 591.983,3.43528 594.959,3.43528" style="fill:none;stroke-width:2px;stroke:#cae3f2;"/>
            </g>
          </svg>
        </td>
      </tr>
    </table>
  </div>

  <div class="panel panel-vertical text-center">
    <table class="width-100">
      <tr>
        <td class="text-top text-middle width-30">
          <h2>Issues</h2>
          <p style="font-size: 36px; font-weight: 300; margin-top: 10px;"><a>1,653</a></p>
          <div style="margin-top: 20px; padding: 15px 0; border-left: 4px solid #4b9fd5; background: #cae3f2;">
            <a class="link-no-underline" style="font-size: 20px; font-weight: 300;">466 <span class="note">new</span></a>
          </div>
        </td>
        <td class="text-top text-middle" style="padding-left: 40px;">
          <svg width="100%" height="100%" viewBox="0 0 600 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g id="Layer1">
              <path d="M6.30357,68.0021C11.6985,59.4386 20.051,53.2101 27.6005,46.6052C33.6191,41.3395 39.2241,36.6067 46.308,32.7913C53.5455,28.8932 60.6586,24.4644 69.3316,25.5963C82.04,27.2549 89.6427,36.6803 99.5503,43.4397C113.167,52.7295 128.343,58.6873 145.021,57.5416C156.595,56.7466 163.536,48.5002 172.075,41.713C175.092,39.3146 178.517,37.4678 181.571,35.0926C184.706,32.6539 188.021,29.2007 191.933,27.8991C193.769,27.2882 197.684,28.2247 199.128,28.4737C202.817,29.1097 206.82,29.7244 210.351,31.0645C216.496,33.3972 221.817,37.8829 227.806,40.6479C233.625,43.3345 240.075,43.3641 246.326,43.7278C251.237,44.0135 256.062,45.0166 261.004,45.1665C268.762,45.4018 274.79,43.8894 280.574,38.2595C282.643,36.2451 284.969,33.9919 286.617,31.6391C287.474,30.4144 288.602,27.4758 290.358,27.6111C321.687,30.0239 351.181,41.419 381.878,46.8932C421.239,53.9124 460.78,57.7725 500.45,60.419C503.463,60.62 507.223,60.8778 510.234,60.419C513.133,59.9774 515.858,57.4946 518.293,56.1029C524.854,52.3542 530.743,48.0754 536.39,42.9967C541.622,38.2905 547.679,34.7751 552.828,29.9124C558.552,24.5067 563.395,18.2349 569.521,13.2211C573.283,10.1416 578.689,7.34316 580.745,4.2994C581.081,3.80195 583.783,4.65167 584.311,4.2994C586.635,2.74746 591.983,3.43528 594.959,3.43528" style="fill:none;stroke-width:2px;stroke:#cae3f2;"/>
            </g>
          </svg>
        </td>
      </tr>
    </table>
  </div>

  <div class="panel panel-vertical text-center">
    <table class="width-100">
      <tr>
        <td class="text-top text-middle width-30">
          <h2>Technical Debt</h2>
          <p style="font-size: 36px; font-weight: 300; margin-top: 10px;"><a><span class="rating rating-A">A</span></a> <a href="">44d</a></p>
          <div style="margin-top: 20px; padding: 15px 0; border-left: 4px solid #4b9fd5; background: #cae3f2;">
            <a class="link-no-underline" style="font-size: 20px; font-weight: 300;">4d 5h <span class="note">new</span></a>
          </div>
        </td>
        <td class="text-top text-middle" style="padding-left: 40px;">
          <svg width="100%" height="100%" viewBox="0 0 600 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g id="Layer1">
              <path d="M6.30357,68.0021C11.6985,59.4386 20.051,53.2101 27.6005,46.6052C33.6191,41.3395 39.2241,36.6067 46.308,32.7913C53.5455,28.8932 60.6586,24.4644 69.3316,25.5963C82.04,27.2549 89.6427,36.6803 99.5503,43.4397C113.167,52.7295 128.343,58.6873 145.021,57.5416C156.595,56.7466 163.536,48.5002 172.075,41.713C175.092,39.3146 178.517,37.4678 181.571,35.0926C184.706,32.6539 188.021,29.2007 191.933,27.8991C193.769,27.2882 197.684,28.2247 199.128,28.4737C202.817,29.1097 206.82,29.7244 210.351,31.0645C216.496,33.3972 221.817,37.8829 227.806,40.6479C233.625,43.3345 240.075,43.3641 246.326,43.7278C251.237,44.0135 256.062,45.0166 261.004,45.1665C268.762,45.4018 274.79,43.8894 280.574,38.2595C282.643,36.2451 284.969,33.9919 286.617,31.6391C287.474,30.4144 288.602,27.4758 290.358,27.6111C321.687,30.0239 351.181,41.419 381.878,46.8932C421.239,53.9124 460.78,57.7725 500.45,60.419C503.463,60.62 507.223,60.8778 510.234,60.419C513.133,59.9774 515.858,57.4946 518.293,56.1029C524.854,52.3542 530.743,48.0754 536.39,42.9967C541.622,38.2905 547.679,34.7751 552.828,29.9124C558.552,24.5067 563.395,18.2349 569.521,13.2211C573.283,10.1416 578.689,7.34316 580.745,4.2994C581.081,3.80195 583.783,4.65167 584.311,4.2994C586.635,2.74746 591.983,3.43528 594.959,3.43528" style="fill:none;stroke-width:2px;stroke:#cae3f2;"/>
            </g>
          </svg>
        </td>
      </tr>
    </table>
  </div>

  <div class="panel panel-vertical text-center">
    <table class="width-100">
      <tr>
        <td class="text-top text-middle width-30">
          <h2>Coverage</h2>
          <p style="font-size: 36px; font-weight: 300; margin-top: 10px;"><a>84.6%</a></p>
          <div style="margin-top: 20px; padding: 15px 0; border-left: 4px solid #4b9fd5; background: #cae3f2;">
            <a class="link-no-underline" style="font-size: 20px; font-weight: 300;">+1.4%</a>
            <br>
            <a class="link-no-underline" style="font-size: 20px; font-weight: 300;">90.6% <span class="note">on new code</span></a>
          </div>
        </td>
        <td class="text-top text-middle" style="padding-left: 40px;">
          <svg width="100%" height="100%" viewBox="0 0 600 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g id="Layer1">
              <path d="M6.30357,68.0021C11.6985,59.4386 20.051,53.2101 27.6005,46.6052C33.6191,41.3395 39.2241,36.6067 46.308,32.7913C53.5455,28.8932 60.6586,24.4644 69.3316,25.5963C82.04,27.2549 89.6427,36.6803 99.5503,43.4397C113.167,52.7295 128.343,58.6873 145.021,57.5416C156.595,56.7466 163.536,48.5002 172.075,41.713C175.092,39.3146 178.517,37.4678 181.571,35.0926C184.706,32.6539 188.021,29.2007 191.933,27.8991C193.769,27.2882 197.684,28.2247 199.128,28.4737C202.817,29.1097 206.82,29.7244 210.351,31.0645C216.496,33.3972 221.817,37.8829 227.806,40.6479C233.625,43.3345 240.075,43.3641 246.326,43.7278C251.237,44.0135 256.062,45.0166 261.004,45.1665C268.762,45.4018 274.79,43.8894 280.574,38.2595C282.643,36.2451 284.969,33.9919 286.617,31.6391C287.474,30.4144 288.602,27.4758 290.358,27.6111C321.687,30.0239 351.181,41.419 381.878,46.8932C421.239,53.9124 460.78,57.7725 500.45,60.419C503.463,60.62 507.223,60.8778 510.234,60.419C513.133,59.9774 515.858,57.4946 518.293,56.1029C524.854,52.3542 530.743,48.0754 536.39,42.9967C541.622,38.2905 547.679,34.7751 552.828,29.9124C558.552,24.5067 563.395,18.2349 569.521,13.2211C573.283,10.1416 578.689,7.34316 580.745,4.2994C581.081,3.80195 583.783,4.65167 584.311,4.2994C586.635,2.74746 591.983,3.43528 594.959,3.43528" style="fill:none;stroke-width:2px;stroke:#cae3f2;"/>
            </g>
          </svg>
        </td>
      </tr>
    </table>
  </div>

  <div class="panel panel-vertical text-center">
    <table class="width-100">
      <tr>
        <td class="text-top text-middle width-30">
          <h2>Duplications</h2>
          <p style="font-size: 36px; font-weight: 300; margin-top: 10px;"><a>1.0%</a></p>
          <div style="margin-top: 20px; padding: 15px 0; border-left: 4px solid #4b9fd5; background: #cae3f2;">
            <a class="link-no-underline" style="font-size: 20px; font-weight: 300;">+0.1%</a>
          </div>
        </td>
        <td class="text-top text-middle" style="padding-left: 40px;">
          <svg width="100%" height="100%" viewBox="0 0 600 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g id="Layer1">
              <path d="M6.30357,68.0021C11.6985,59.4386 20.051,53.2101 27.6005,46.6052C33.6191,41.3395 39.2241,36.6067 46.308,32.7913C53.5455,28.8932 60.6586,24.4644 69.3316,25.5963C82.04,27.2549 89.6427,36.6803 99.5503,43.4397C113.167,52.7295 128.343,58.6873 145.021,57.5416C156.595,56.7466 163.536,48.5002 172.075,41.713C175.092,39.3146 178.517,37.4678 181.571,35.0926C184.706,32.6539 188.021,29.2007 191.933,27.8991C193.769,27.2882 197.684,28.2247 199.128,28.4737C202.817,29.1097 206.82,29.7244 210.351,31.0645C216.496,33.3972 221.817,37.8829 227.806,40.6479C233.625,43.3345 240.075,43.3641 246.326,43.7278C251.237,44.0135 256.062,45.0166 261.004,45.1665C268.762,45.4018 274.79,43.8894 280.574,38.2595C282.643,36.2451 284.969,33.9919 286.617,31.6391C287.474,30.4144 288.602,27.4758 290.358,27.6111C321.687,30.0239 351.181,41.419 381.878,46.8932C421.239,53.9124 460.78,57.7725 500.45,60.419C503.463,60.62 507.223,60.8778 510.234,60.419C513.133,59.9774 515.858,57.4946 518.293,56.1029C524.854,52.3542 530.743,48.0754 536.39,42.9967C541.622,38.2905 547.679,34.7751 552.828,29.9124C558.552,24.5067 563.395,18.2349 569.521,13.2211C573.283,10.1416 578.689,7.34316 580.745,4.2994C581.081,3.80195 583.783,4.65167 584.311,4.2994C586.635,2.74746 591.983,3.43528 594.959,3.43528" style="fill:none;stroke-width:2px;stroke:#cae3f2;"/>
            </g>
          </svg>
        </td>
      </tr>
    </table>
  </div>
</div>
