<div style="padding: 20px; background: #f3f3f3; min-height: calc(100vh - 60px - 30px - 60px); box-sizing: border-box;">
  <h2 style="margin-bottom: 20px;">Quality Gate</h2>
  <ul>
    <li class="spacer-top">
      <table>
        <tr>
          <td class="text-middle" style="padding-right: 10px;">
            <span class="alert_ERROR" style="font-size: 20px; padding: 0 6px;">3</span>
          </td>
          <td class="text-middle">
            <p>blocker issues</p>
            <p>since previous version</p>
          </td>
        </tr>
      </table>
    </li>
    <li style="margin-top: 12px; padding-top: 12px; border-top: 1px solid #e3e3e3;">
      <table>
        <tr>
          <td class="text-middle" style="padding-right: 10px;">
            <span class="alert_ERROR" style="font-size: 20px; padding: 0 6px;">8</span>
          </td>
          <td class="text-middle">
            <p>critical issues</p>
            <p>since previous version</p>
          </td>
        </tr>
      </table>
    </li>
    <li style="margin-top: 12px; padding-top: 12px; border-top: 1px solid #e3e3e3;">
      <table>
        <tr>
          <td class="text-middle" style="padding-right: 10px;">
            <span class="alert_WARN" style="font-size: 20px; padding: 0 6px;">22</span>
          </td>
          <td class="text-middle">
            <p>open issues</p>
          </td>
        </tr>
      </table>
    </li>
    <li style="margin-top: 12px; padding-top: 12px; border-top: 1px solid #e3e3e3;">
      <table>
        <tr>
          <td class="text-middle" style="padding-right: 10px;">
            <span class="alert_WARN" style="font-size: 20px; padding: 0 6px;">2</span>
          </td>
          <td class="text-middle">
            <p>reopened issues</p>
          </td>
        </tr>
      </table>
    </li>
  </ul>

  <div class="text-center" style="margin-top: 20px;"><a>Show All</a></div>
</div>
