<div style="padding: 20px; background: #184867; color: #fff;">

  <h2 style="color: #fff; margin-bottom: 20px;">Leak Period</h2>
  <ul>
    <li style="margin-top: 12px;">
      <a class="link-no-underline" style="color: #fff; font-size: 20px;">+11,458</a>
      <span style="margin-left: 5px;">lines of code</span>
    </li>
    <li style="margin-top: 12px;">
      <a class="text-danger link-no-underline" style="font-size: 20px;">466</a>
      <span style="margin-left: 5px;">new issues</span>
    </li>
    <li style="margin-top: 12px;">
      <a class="text-danger link-no-underline" style="font-size: 20px;">4d 5h</a>
      <span style="margin-left: 5px;">new technical debt</span>
    </li>
    <li style="margin-top: 12px;">
      <a class="text-success link-no-underline" style="font-size: 20px;">+1.4%</a>
      <span style="margin-left: 5px;">coverage</span>
    </li>
    <li style="margin-top: 12px;">
      <a class="link-no-underline" style="color: #fff; font-size: 20px;">90.6%</a>
      <span style="margin-left: 5px;">coverage on new code</span>
    </li>
    <li style="margin-top: 12px;">
      <a class="text-danger link-no-underline" style="color: #fff; font-size: 20px;">+0.1%</a>
      <span style="margin-left: 5px;">duplications</span>
    </li>
  </ul>

</div>
