<table class="width-100">
  <tr>
    <td class="text-top" style="width: 300px; background-color: #184867;">
      {{> '_overview-gate'}}
      {{> '_overview-leak'}}
    </td>
    <td class="text-middle text-top" style="padding: 20px;">
      <div style="max-width: 900px; width: 100%; margin: 0 auto;">{{> '_overview-measures'}}</div>
    </td>
  </tr>
</table>
