<table class="width-100">
  <tr>
    <td class="text-top bordered-right" style="width: 300px; background-color: #f3f3f3;">
      {{> '_overview-gate'}}
    </td>
    <td class="text-top" style="padding: 20px;">
      <div style="max-width: 900px; width: 100%; margin: 0 auto;">{{> '_overview-measures'}}</div>
    </td>
  </tr>
</table>
